<h3>Showing you just how tedious your speeches are <strong>before</strong> the big day*</h3>

<main>
  <mat-card>
    <mat-card-title>Analyse a new file</mat-card-title>
    <mat-card-content>
      Upload a new file and generate a report.
    </mat-card-content>
    <a mat-raised-button href="#" routerLink="/phrase-finder" color="primary">New Analysis</a>
  </mat-card>

  <mat-card>
    <mat-card-title>BETA: Review report(s)</mat-card-title>
    <mat-card-content>
      See your archived reports
    </mat-card-content>
    <a mat-raised-button href="#" routerLink="/reports" color="primary">Reports</a>
  </mat-card>
</main>

<h5>* Now contains yawn-prediction!</h5>
